
nav>ul>li,
#jh {
    background-color: rgb(0, 37, 148);
    display: inline-block;
    color: rgb(255, 255, 255);
    border: solid black 0.8px;
    border-radius: 20px;
    padding: 10px;
    margin: 0 20px 10px 20px;

}

body {
    background-color: blanchedalmond;
}
div>img{

     
    box-shadow: 3px 2px 5px 4px;
    display: inline-block;
    border-radius: 13px;
}
header {
    background-color: skyblue;
    text-align: center;
    background-image: url('banner.jpg');
}
header>a{
    margin: 0;
}

li>a {
    text-decoration: none;
    color: white;
    text-align: center;

}

li>a :hover {
    color: rgb(0, 78, 146);
    text-align: center;

}

nav>ul  :hover {
    background-image: linear-gradient(red, yellow);
    color: rgb(138, 0, 0);
}

nav>ul {
    margin: 50;
}


#tar :hover {
    background-image: linear-gradient(red, yellow);
    color: rgb(138, 0, 0);
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;

}


main {
    background-image: url(bg.jpg);
    color: rgb(0, 0, 0);
}



footer {
    background-color: antiquewhite;

    margin-left: 60px;
    text-align: center;

}


h1 {
    color: rgb(0, 0, 0);
    margin-left: 50px;

    text-align: center;
}

em>strong {
    margin-left: 50px;

    text-align: center;
}

em>strong {
    margin-left: 500px;
    text-align: center;
}
*{
    box-sizing: border-box;
    cursor: progress;
     
}
audio {
    margin-left: 470px;
    text-align: center;
}

div>p {
    margin-left: 60px;
    text-align: center;
}

fieldset,
details {
    margin-left: 60px;
    text-align: center;
}

div>a,
summary {
    color: black;
    border: 0.000000000001px solid rgb(0, 0, 0);
    border-radius: 40px;
    padding: 4px;
    margin: 9px;
    background-color: aqua;
    display: inline-block;
    cursor: [wait];
}

header>a :hover {
    width: 55px;
    height: 55px;
    transition-delay: 2s;
    transition-duration: 3s;

}

nav>ul> :hover {
    width: 85px;
    height: 45px;
    text-align: center;
    transition-delay: 1s;
    transition-duration: 3s;
}

footer {
    box-shadow: 5px 3px 11px 2px;
}

img :hover {
    width: 100px;
}

#tar {
    color: black;
    border: 0.000000000001px solid rgb(255, 255, 255);
    border-radius: 40px;
    width: 70px;
    height: 35px;
    background-color: rgb(255, 145, 0);


}

.flex-container {
    float: left;
    width: 225px;
    height: 600px;
    border: 0.000000001px solid;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(151, 180, 157), rgb(21, 19, 32));
}

div>h2 {

    text-align: center;
}

.papa {
    text-align: left;
    margin-left: 3px;

}

.rere {
    text-align: center;
}

span>img {
    border: 0.1px solid;
    float: center;
    position: absolute;
    clear: left;
    background-color: bisque;
    border-radius: 30px;
}

span>img :hover {
    border-radius: 40px;
}

#tar :hover {
    width: 90px;
    height: 60px;
    color: black;
    border: 0.000000000001px solid rgb(0, 0, 0);
    border-radius: 40px;
    background-color: rgb(255, 145, 0);
}

input {
    width: 190px;
    height: 40px;
}

#uu,
#ui,
#file1,
#file1 {
    width: auto;
}

#y1 {
    width: 30px;
    height: 20px;

}

summary {
    
    scroll-behavior: smooth;
}
div>iframe{
    width: 460px;
    text-align: center;
    margin-left: 170px;
    margin-bottom: 20px;
    box-shadow: 220px;
}
 .opa{
    background-image: url(cover.jpg);
    width: 960px;
    height: 600px;
    border: 0.00000000001px solid black;
   
    border-radius: 30px;
 }
 .uuu{

    text-align: center;
    color: brown;
    margin-bottom: 40px;
 }
 .lll{

    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    margin-top: 90px;
    margin-left: 350px;
    border: solid 0.000001px black;
    padding: 0;
    background-color: rgb(250, 0, 0);
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 3px 4px 4px;
 }
 .contains>button{
    margin-left: 500px;
    width: 140px;
    height: 70px;
    background-color: brown;
    color: aliceblue;
    border-radius: 115px;
     
 }
  
 
